# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp-debug.log*

# Directorios de módulos y herramientas
node_modules/
.npm/
.bolt/

# Archivos de entorno (si los usas)
.env

# Archivos de build y distribución
/build
/dist
out/

# Archivos del sistema operativo
.DS_Store
.vscode/

# Archivos de caché o temporales
.idea/
.vs/
*.bak
*.swp
*.swo
